

body {
    display: block;
}

#bkgr-container {
    margin: auto;
    height: 800px ;
    background-color: steelblue;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../assets/roberto-nickson-CWrCFYTGVYc-unsplash.jpg);
}

nav {
    left: 0;
    right: 0;
}

#about-me {
    padding: 3rem;
    margin: 6rem;
    color: white;
    background-color: black;
    opacity: 0.85;
    display: inline-block;
}

#me {
    width: auto;
    height: auto;
    opacity: 1;
}

.skills {
    color: white;
}

#skills-container {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.85;
    margin-top: 3rem;
    padding: 2rem;
}

#skill-icons {
    padding-top: 2rem;
    color: rgb(255, 208, 0);
    text-align: center;
}

#project-container {
    padding: 4rem;
    margin-top: 12rem;
    color: white;
    background-color: black;
    opacity: 0.85;
    text-align: center;
}



#contacts-container {
    background-color: black;
    margin-top: 12rem;
    padding: 6rem;
    opacity: 0.85;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

footer {
    background-color: rgb(255, 192, 17);
    height: 6rem;
    position: fixed;
    padding-top: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}

a {
    color: rgb(107, 106, 106);
   padding: 4rem;
}

a:hover {
    color: rgb(255, 145, 0) ;
    cursor: pointer ;
}

